.ChoiceButton {
  text-align : center;
    display:flex; 
    flex-Direction:row; 
    height: 50px;
    border: 1px solid black;
}

.TabBtn {
    flex:1;
    height : 50px;
    border : 1px solid black;
    cursor: pointer;
}

.TabBtn.active{
  background-color: aquamarine;
}

.input{
  width: 100%;
  height: 100px;
  margin-top: 30px;
}
